node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
# auto generated wildcard
surveyform/.env2
# auto generated wildcard
processFlow/.env7
# auto generated wildcard
Partner Lifecycle Supplier Portal/surveyform/.env1
# auto generated wildcard
Partner Lifecycle Supplier Portal/BuyerRegistration/.env52