node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp
# auto generated wildcard
surveyform/.env2
# auto generated wildcard
processFlow/.env7
# auto generated wildcard
Partner Lifecycle Supplier Portal/surveyform/.env1
# auto generated wildcard
Partner Lifecycle Supplier Portal/BuyerRegistration/.env52
# auto generated wildcard
BuyerRegistration/.env55
# auto generated wildcard
BuyerRegistration/.env54
# auto generated wildcard
InboxDetail/.env8