/node_modules/
package-lock.json
/dist/
/.vscode/
/*-content.zip/ 

# auto generated wildcard
BuyerRegistration/.env
supplieronboarding-approuter/.env
# auto generated wildcard
surveyform/.env

# auto generated wildcard
gbsinbox/.env
# auto generated wildcard
TaskInbox/.env
# auto generated wildcard
buyerextinbox/.env
# auto generated wildcard
workbox/.env
# auto generated wildcard
BuyerRegistration/.env
# auto generated wildcard
InboxDetail/.env
# auto generated wildcard
surveyform/.env2
reports/.env
# auto generated wildcard
processFlow/.env7

# auto generated wildcard
processFlow/.env
# auto generated wildcard
Partner Lifecycle Supplier Portal/surveyform/.env1
# auto generated wildcard
Partner Lifecycle Supplier Portal/BuyerRegistration/.env52
# auto generated wildcard
BuyerRegistration/.env55
# auto generated wildcard
BuyerRegistration/.env54
# auto generated wildcard
dashboard/.env
# auto generated wildcard
InboxDetail/.env8