
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://trial.serviceobjects.com/Resources/AC/CSS/ACStyle.css" />
    <link rel="stylesheet" href="css/SuggestStyle.css" />
    <title>GAC</title>
    <meta charset="utf-8" />
</head>
<body>
    <script type="text/javascript" src="https://trial.serviceobjects.com/Resources/AC/JS/ACScriptV1.01.js"></script>
    <script>
           var fields = [
                    { element: "iAddress1", field: "Address1", mode: so.fieldMode.SEARCH | so.fieldMode.POPULATE },
                    { element: "iAddress2", field: "Address2", mode: so.fieldMode.POPULATE },
                    { element: "iAddress3", field: "Address3", mode: so.fieldMode.POPULATE },
                    { element: "iAddress4", field: "Address4", mode: so.fieldMode.POPULATE },
                    { element: "iAddress5", field: "Address5", mode: so.fieldMode.POPULATE },
                    { element: "iUnits", field: "SubPremise", mode: so.fieldMode.POPULATE },
                    { element: "iLocality", field: "Locality", mode: so.fieldMode.POPULATE },
                    { element: "iAdminArea", field: "AdminArea", mode: so.fieldMode.POPULATE },
                    { element: "iPostal", field: "PostalCode", mode: so.fieldMode.POPULATE },
                    { element: "iCountry", field: "Country", mode: so.fieldMode.COUNTRY }
                ];
        var CustomKey = "2C4C19E57531413AB158FF3EAA2E3117";
        var options = { key: CustomKey, isTrial: true, setCountryByIP: true };


        var DOTSGlobalAddressComplete = new so.Address(fields, options);
    </script >

   <div id="id_AddressMainContent">
    <div id="sAddress" class="AddressInputBlock">
        <div id="lAddress2" class="AddressLabels">Address One</div>
        <input id="iAddress1" type="text" class="AddressInputs" />
    </div>
    <div id="sAddress2" class="AddressInputBlock">
        <div id="lAddress2" class="AddressLabels">Address Two</div>
        <input id="iAddress2" type="text" class="AddressInputs" />
    </div>
    <div id="sAddress3" class="AddressInputBlock">
        <div id="lAddress3" class="AddressLabels">Address Three</div>
        <input id="iAddress3" type="text" class="AddressInputs" />
    </div>
    <div id="sLocality" class="AddressInputBlock">
        <div id="lLocality" class="AddressLabels">Locality</div>
        <input id="iLocality" type="text" class="AddressInputs" />
    </div>
    <div id="sAdminArea" class="AddressInputBlock">
        <div id="lAdminArea" class="AddressLabels">Administrative Area</div>
        <input id="iAdminArea" type="text" class="AddressInputs" />
    </div>
    <div id="sPostal" class="AddressInputBlock">
        <div id="lPostal" class="AddressLabels">Postal Code</div>
        <input id="iPostal" type="text" class="AddressInputs" />
    </div>
    <div  class="AddressInputBlock">
        <div id="lCountry" class="AddressLabels">Country</div>
        <input id="iCountry" type="text" class="AddressInputs" />
    </div>
    </div>
</body>
</html>